 <style type="text/css">
 @import url(http://fonts.googleapis.com/css?family=Electrolize);
#menulateral2 li{
	
	padding-top: 5px;
	border-radius: 1px;
	text-align: center;
	padding: 0px;
	margin: 5px 0px;
	background: #FFF none repeat scroll 0% 0%;
}
#menulateral2 ul li a{
	text-transform: uppercase;
	text-decoration: none;
	background-color:#000061;
	color: #F3F3F3;
	border-bottom: 3px solid #9F9C9C;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
	border-radius: 4px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#menulateral2 ul li  a:hover{
	color: #382C00;
}

#menulateral2 ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

 </style>
<nav id="menulateral2">
 <ul>
     <li><a href="#" >Em Aberto | INEp</a></li>
      <li><a href="#">GEC</a></li>
     <li><a href="#">RIpE</a></li>
    <li><a href="#">Revista entreideias</a></li>
	<li><a href="#">FACED | UFBA</a></li>
	<li><a href="#">REA</a></li>

   </ul>
   </nav>