<style type="">
#formlateral {
    background-color: #F6D5FF;
}
 input {
    width: 100%;
}

  
 #formlateral input.button.submit {
    background: #F6D5FF none repeat scroll 0% 0%;
}
#formlateral input.buttonlateral {
    width: 150px;
    overflow: visible;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    padding: 3px 1px 1px 10px;
    border: medium none;
    height: 34px;
    display: inline-block;
    max-height: none;
   max-height: none;
  border-radius: 5px;
  background: #800080
}
</style>


<form accept-charset="UTF-8" action="/profile/ftm-cl/search" id="formlateral" method="get">
    <input autocomplete="off" data-asset="articles" name="q" type="text">
    <input class="buttonlateral" name="commit" value="Busca" type="submit">
</form>