<div id="equipe">
  <p> Implementado por: <span> Luan menezes - Karina Menezes -  Gustavo Gomes</span></p> 
  <p> Apoio: <span>GEC | FACED -  STI | UFBA - Colivre</span></p>
  </div> 
  <div id="copyright">
    <p><%= _('This social network uses <a href="http://noosfero.org/">Noosfero</a>, developed by %s and licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> version 3 or any later version.') % link_to('Colivre', 'http://colivre.coop.br/') %></p>
  </div>
  <!-- end id="copyright" -->  
  <div id="footer-right">
      <%= language_chooser(environment) %>
  </div>
