<div class="topo">
<ul class="social">
    <li> <a id="fb" href="#"></a> </li>
    <li> <a id="in" href="#"></a> </li>
    <li> <a id="lo" href="#"></a> </li>
    <li> <a id="you" href="#"></a> </li>
    <li> <a id="wh" href="#"></a> </li>
    <li> <a id="twi" href="#"></a> </li>
</ul>
</div>
