@import url(../base/style.css);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Inder);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

body {
    background: url("images/fundo.png") repeat scroll 0% 0% transparent;
    margin-top: -17px;
    line-height: 1.429;
    color: #333;
    font-family: Imprima;
}
body, th, td, input {
    font-size: 12px;
}

#theme-header { 
   height: 188px;
   line-height: 50px;
   right: 0px; 
   left: 0px;
   z-index: 999;
   position: relative;
   width: 1208px;
   top: 58px;
  margin-bottom: 32px;
    background: transparent url("images/cabecalhoOk.png") no-repeat scroll 0% 0%;
}
.theme-header2 {
   height: 41px;
background: #8B008B  none repeat scroll 0% 0%;
line-height: 50px;
right: 0px;
left: 0px;
z-index: 9999;
position: fixed;
box-shadow: 2px -1px 16px #888;
top: 0px;
}
.f-theme-header2{
z-index: 99999;
position: fixed;
top: 0px;
}
#theme-footer {
    padding: 0px;
    font-size: 11px;
    color: #555;
    margin-bottom: 20px;
    margin: -20px auto auto;
     position: absolute;
    background: url("images/barra_rodape.png") no-repeat scroll 50% 1%, url("images/footer-image.png") no-repeat scroll 13% 50%, url("images/fundo2.png") repeat scroll 0% 0% rgb(255, 255, 255);    
    width: auto;
    height: 180px;
    right: 0px;
    left: 0px;
}
#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}
#wrap-1 {
    width: 1197px;
    margin: auto;
    background: #FFF none repeat scroll 0% 0%;
     box-shadow: 2px -1px 16px #888;
     border-radius: 37px;
}
#wrap-2 {
   
     
}
.navigation2 {
    position: relative;
	top: -6px;
	right: 173px;
	width: auto;
	text-align: right;
	background: transparent url("imgs/menu-top-bg-left.png") no-repeat scroll 0% 0%;
	z-index: 9999;
	float: right;
	text-transform: uppercase;
	text-align: center;
}
.navigation2 ul{
  list-style: none;
  }
  .navigation2 ul li{
 display: inline;
  }
.navigation2 a {
    font-size:19px;
    padding: 6px 10px;
    line-height: 24px;
    width: auto;
    border-width: medium medium 4px;
    /*border-image: none;*/
    transition: all 0.6s ease 0s;
    border-style: none none solid;
    border-bottom: 1px;
	color: white;
	 font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
}
.navigation2 a:hover {
    color: #35322D;
   }
.navigation2 span {
    padding: 0px 0px 0px 11px;
    background: rgba(119, 40, 40, 0) none repeat scroll 0% 0%;
    float: right;
    margin: 4px 3px auto auto;
}
.f-navigation2{
z-index: 9999;
position: fixed;
top: 0; width:100%;
}

#navigation {
    display: none;
    }

#navigation-end {
	display: none;
	}
    
#user {
    right: 213px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    z-index: 9999;
    top: -128px;
    position: absolute;
    font-size: 1em;
    margin: -41px auto auto auto;
}
#user a{
 text-decoration:none;
}
#user a i {
    display: none;
}
#user a strong {
    color: #000;
}

/*#busca {
    position: absolute;
    top: 30px;
    right: 10%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    z-index: 2;
}*/
#top-search input {
   color: #000;
text-shadow: 1px 1px 2px #FFF;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 2px;
background: rgba(255, 255, 255, 0.4) url("images/lupa.png") no-repeat scroll 95% 50%;
line-height: 28px;
padding: 0px 0px 0px 10px;
font-size: 16px;
font-weight: normal;
width: 200px;
transition: all 0.5s ease 0s;
margin: 47px -34px 2px auto;
}
#top-search:hover input, #top-search.focus input {
    color: rgba(0, 0, 0, 0.9);
    background-color: #FFF;
    transition: all 0.3s ease 0s;
    border: 1.5px solid rgba(0, 0, 0, 1);
}
#user form input {
    color: #555;
    display: none;
}
#highlighted-news .post-date {
    display: none;
}
.highlighted-news-item.post-1 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-2 {
    border: medium none;
    padding-top: 0px;
    width: 39%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-3 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-4 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-5 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-6 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-7 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-8 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-9 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-10 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-11 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-12 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}

.main-content {
    border-style: none;
    box-shadow: none;
   }

#highlighted-news .post-title {
    font-size: 15px;
}
.action-home-index #content h1 {
    display: none;
}
.main-content {
    margin-top: -1081px;
}
#article {
    padding: 0px;
    width: 662px;
    right: 40px;
}
.article-body {
	width: 671px;
        margin-left: -3px;
}
.comments {
    width: 641px;
    margin-left: 18px;
}
#article-actions{
	width: 641px;
	margin-left:18px;
}
#article-hits {
    margin-left: 18px;
}
.blog-post {
    background: none repeat scroll 0% 0% transparent;
    padding: 40px 0px 5px;
    margin: -40px 23px;
    width: 285px;
    float: left;
    top: 17px;
    margin-bottom: 0px;
}
#content .main-block h1, #not-found h1, #access-denied h1 {
    font-variant: small-caps;
    color: #555753;
    border-radius: 33px;
    border-bottom: 2px solid #8B008B;
    text-align: center;
}
#content .no-boxes h1 {
    font-variant: small-caps;
    color: #555753;
    text-align: left;
    border-bottom: 2px solid #2E3436;
    margin-top: 1189px;
}
#content .blog-post .title a {
    text-decoration: none;
    font-size: 13px;
    padding: 6px 0px 4px 4px;
    text-transform: uppercase;
    color: black;
    font-family: "Fauna One";
}
#content .main-block .publishing-info {
    display: none;
}
#content #article-header h1 {
     display: none;
}
#content .blog-post .title {
    border-bottom-color: #8B008B;
}
.box-3 {
    right: 11px;
    width: 275px;
}
.box-2 {
    left: 11px;
    width: 200px;
}
#site-title {
    margin: 0px;
    position: absolute;
    top: 41px;
    z-index: 7;
    width: 264px;
    height: 64px;
    margin: -43px auto auto 888px;
 }
.topo{
        margin: 5em 1em 0px 0px;
        float: right;}
   .social {
        list-style: outside none none
    }
    .social li {
        float: left;
        margin-right: 0.12em;
    }
    .social li #in {
        text-indent: -99999px;
        display: block;
        margin-right: 0.85em;
        width: 30px;
        height: 30px;
	left: 53px;
        background:url("images/instagram.png");
    }
    .social li #lo{
        text-indent: -99999px;
        display: block;
        margin-right: 0.85em;
        width: 30px;
	left: 82px;
        height: 30px;
        background:url("images/loc.png");
    }
    .social li #fb{
        text-indent: -99999px;
        display: block;
        margin-right: 0.85em;
        width: 30px;
        height: 30px;
	left: 18px;	
        background:url("images/facebook.png");    
}
    .social li #you{
        text-indent: -99999px;
        display: block;
        margin-right: 0.85em;
        width: 30px;
        height: 30px;
        left: 112px;
	background:url("images/youtube.png");
    }
    .social li #twi{
        text-indent: -99999px;
        display: block;
        margin-right: 0.85em;
        width: 30px;
        height: 30px;
	left: 146px;
        background:url("images/twitter.png");
    }

#copyright {
    text-align: center;
   margin-top: 154px;
}
#theme-footer #language-chooser {
    margin-top: -14em;
    float: right;
}
#profile-editor-index {
    padding: 5px 108px;
    margin: 0px auto auto -125px;
    position: relative;
    width: 628px;
}

div.no_media_panel {
    padding: 0px;
    width: 606px;
    right: 8px;
}
.with_media_panel {
    margin-top: 1189px;
}
.formfield textarea {
    width: 624px;
}
#content h1 {
    font-size: 20px;
    font-family: "Fauna One";
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    padding: 6px 0px 4px 4px;
    text-decoration: none;
}
#content .main-block h1 {
     color: #000;
  }

#footer-right{
width: 264px;
float: right;
top: 91px;
}
#equipe{
float: left;
margin-top: 31px;
margin-left: 438px;
}
#equipe p{
font-family: "Electrolize",sans-serif;
font-size: 13px;
font-weight: bold;
}
#equipe p span {
    color: black;
    font-size: 12px;
}
#fullscreen-btn{
	display:none;
}
#before-block-329 {
    width: 629px;
    margin-left: 36px;
    margin-top: -1251px;
}
#end-of-box-273 {
    width: 629px;
    margin-left: 36px;
}
.main-block {
    width: 629px;
    right: -36px;
}
